/*font-family: Source Sans Pro*/
body {
	font-family: Source Sans Pro;
	width: 80%;
	margin-left: 25%;
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h1 {
	font-weight: bold;
	color: #2c3e50;
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
}